body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #004080;
  color: white;
  padding: 2rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.destaque {
  padding: 2rem;
  text-align: center;
  background: white;
  margin: 2rem;
  border-radius: 10px;
}

.botao {
  background: #0077cc;
  color: white;
  padding: 1rem 2rem;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 2rem;
}
footer a {
  color: #aad;
}
